

$font-family:"Robato",sans-serif;
$base-font-size:1rem;
$font-size-m:$base-font-size*.75;
$font-size-l:$base-font-size*1.5;
$font-size-xl:$base-font-size*2;
$font-size-xxl:$base-font-size*3;

/* Color Theme Swatches in RGBA */
$Mainbody-Color: rgba(174,181,191, 1);
$Heading-Color-1: rgba(212,168,105, 1);
$Heading-Color-2: rgba(202,110,63, 1);
$Bg-color: rgba(45,98,135, 1);
$Highlight-Color: rgba(0,1,1, 1);


